[Unit]
Description= Sensors service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/sensor_thingsboard/sensors.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
